*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#text{
text-align: center;
font-size: 30;
margin-left: 30%;
margin-top: 10%;
line-height: 1;
border: 2px solid black; 
}
#text p{
   	padding: 15px;
	margin: 10px;
}