

<div class="container">
<h1>Password Generator</h1>

<form action="{% url 'password' %}">
<select class="" name="length">
<option value="6">6</option>
<option value="8">8</option>
<option value="10">10</option>
<option value="12" selected="selected">12</option>
<option value="14">14</option>
<option value="16">16</option>
<option value="18">18</option>
<option value="20">20</option>
</select> length <br>
<input type="checkbox" name="uppercase">Uppercase <br>
<input type="checkbox" name="special">Special Character <br>
<input type="checkbox" name="numbers">Numbers <br>
<input type="submit" value="Generate Password">
</form>
</div>
